<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="w3-panel">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w3-panel">
    <%= f.label :title, class:"montserrat tracked lh-copy" %>
    <%= f.text_field :title , class:"space-mono red w3-input w3-border" %>
  </div>

  <div class="w3-panel">
    <%= f.label :description, class:"montserrat tracked lh-copy" %>
    <%= f.text_area :description , class:"space-mono red w3-input w3-border" %>
  </div>

  <div class="w3-panel">
    <%= f.label :image_url, class:"montserrat tracked lh-copy" %>
    <%= f.text_field :image_url , class:"space-mono red w3-input w3-border" %>
  </div>

  <div class="w3-panel">
    <%= f.label :price, class:"montserrat tracked lh-copy" %>
    <%= f.text_field :price , class:"space-mono red w3-input w3-border" %>
  </div>

  <div class="actions pb3 pl3">
    <%= f.submit :Enter, class:"space-mono w3-mobile w3-button w3-red w3-border w3-border-red w3-hover-white w3-round-large" %>
  </div>
<% end %>
