<!DOCTYPE html>
<html>
  <head>
    <title>Textbook Store</title>
    
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="w3-container">

    <div class="fixed w3-bar bg-white-90 space-mono bb bw1 shadow-4 b--black mb2 pv2">
      <a href="/" class="w3-bar-item w3-button w3-hover-white w3-hover-text-red"><%= image_tag 'store.svg', alt: 'Home', height: '28', width: '28', style: 'display: block; margin-left: auto; margin-right: auto; margin-bottom: none; margin-top: none' %></a>
      <a href="/static_pages/home" class="w3-bar-item w3-button w3-hover-white w3-hover-text-red">Home</a>
      <a href="/" class="w3-bar-item w3-button w3-hover-white w3-hover-text-red">Shop</a>
      <a href="/static_pages/help" class="w3-bar-item w3-button w3-hover-white w3-hover-text-red">Help</a>
      <a href="/static_pages/about" class="w3-bar-item w3-button w3-hover-white w3-hover-text-red">About</a>
      <li href="#" class="w3-bar-item w3-black w3-text-white montserrat b">TEMPORARY NAV SEPARATOR</li>
      <a href="/products" class="w3-bar-item w3-button w3-hover-white w3-hover-text-red">Manage Products</a>
    </div>

   <div class="w3-container mt5">
    <%= yield %>
   </div>    

  </body>
</html>
